body{
    font-family: 'Jua', sans-serif;
    background-color: rgb(230, 230, 230);
    margin: 0px;
    margin-top: -21px;
}

.header{
    color: white;
    min-height: 1000px;
    max-height: 1440px;
    background-image: url("img/header-background-new.jpg");
    background-size: cover;
    background-position: 50% 60%;
}

.container{
    text-shadow: 0px 0px 20px black;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-width: 420px;
}

.header-brand{
    margin-top: 7.8%;
    float: left;
}

.header-brand a{
    font-size: 250%;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header-navbar{
    margin-top: 5.8%;
    float: right;
}

.header-navbar li{
    font-size: 150%;
    margin-left: 25px;
    list-style: none;
    float: left;
}

.header-navbar li a{
    color: white;
}

.header-slogan{
    text-align: center;
    margin-top: 20%;
}

.header-slogan-top{
    font-size: 350%;
    margin-bottom: 7%;
}

.header-download-link{
    /*display: block;*/
    color: white;
    border: 2px solid white;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 300%;
}