body{
    font-family: 'Times New Roman', Times, serif;
}

.header{
    height: 600px;
    background-image: url("img/header-background.jpg");
    background-size: cover;
    background-position: 50% 60%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.header-slogan{
    float: left;
}

.header-slogan a{
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header-navbar{
    float: right;
    color: white;
}

.header-navbar li{
    margin-left: 25px;
    list-style: none;
    float: left;
}