body{
    font-family: 'Jua', sans-serif;
    background-color: rgb(230, 230, 230);
    margin: 0px;
}

/* HEADER */

.header{
    margin: 0;
    padding: 0;
    color: white;
    height: 100vh;
    background-image: url("../img/header-img.jpg");
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 5px black;
}

.header-brand{
    margin-top: 5%;
    float: left;
}

.header-brand a{
    font-size: 250%;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header-navbar{
    margin-top: 8%;
    float: right;
}

.header-navbar li{
    font-size: 150%;
    margin-left: 25px;
    list-style: none;
    float: left;
}

.link-icon{
    color: white;
    font-size: 300%;
}

/*
.header-navbar li a{
    color: white;
}
*/

.header-slogan{
    text-align: center;
    margin-top: 30%;
}

.header-slogan-top{
    font-size: 350%;
    margin-bottom: 7%;
}

.header-download-link{
    /*display: block;*/
    color: white;
    border: 2px solid white;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 300%;
}

/* SECTION A */